.sudoku-cell {
    border: 1px solid rgb(49, 43, 51, .5);
    width: 50px;
    text-align: center;
    font-size: 3rem;
    box-sizing: border-box;
}

.sudoku-grid {
    border: 2px solid rgb(49, 43, 51);
}

.sudoku-row input:focus {
    outline: none;
}

.sudoku-row>input:read-only {
    background-color: #ededed;
}

.r-border {
    border-right: 3px solid rgb(49, 43, 51);
}

.t-border {
    border-top: 3px solid rgb(49, 43, 51);
}

.sudoku-cell-given {
    color: black;
}

.sudoku-cell-new {
    color: red;
}

@media(max-width:600px) {
    h1 {
        font-size: clamp(1rem, calc(1rem + 2vw), 2rem);
    }

    .sudoku-grid {
        width: clamp(250px, calc(250px + 22vw), 450px);
    }

    .sudoku-cell {
        width: calc(100% / 9);
        font-size: calc(1rem + 1.5vw);
    }

    .button {
        font-size: 1rem;
    }
}

input.cell-error {
    color: red;
    caret-color: black;
}